# BQPlot

## Installation

```
$ conda install --channel conda-forge bqplot
```

## Notebook Setup

In [1]:
import bqplot

## Data

In [2]:
import pandas as pd
data = pd.read_csv('cars.csv')
data.head()

,Acceleration,Cylinders,Displacement,Horsepower,Miles_per_Gallon,Name,Origin,Weight_in_lbs,Year
0,12.0,8,307.0,130.0,18.0,chevrolet chevelle malibu,USA,3504,1970-01-01
1,11.5,8,350.0,165.0,15.0,buick skylark 320,USA,3693,1970-01-01
2,11.0,8,318.0,150.0,18.0,plymouth satellite,USA,3436,1970-01-01
3,12.0,8,304.0,150.0,16.0,amc rebel sst,USA,3433,1970-01-01
4,10.5,8,302.0,140.0,17.0,ford torino,USA,3449,1970-01-01

## Scatter Plot

In [3]:
from bqplot import pyplot as plt

In [4]:
plt.figure()
plt.scatter(data.Horsepower, data.Miles_per_Gallon, colors=['blue'])
plt.show()